// Body
$body-bg: #BDE0E4;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Inputs box shadow
$input-focus-box-shadow: none;

// Colors
$primary: #06ADC4;
$secondary: #E55490;
$success: #94CB76;
$info: #62C7D4;
$warning: #FDC619;
